* {
  margin: 0px;
  padding: 0px;
}

.parrafos1 {
  font-family: "Poppins", sans-serif;
  margin: 10px;
  font-size: 20px;
}

.imgabout {
  height: 500px;
  width: 350px;
  box-shadow: 4px 4px 4px lightgrey;
}

.h2-about1 {
  grid-area: titulo1;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 5px 10px 10px 0px;
  background-color: lightgoldenrodyellow;
  box-shadow: 2px 2px 2px lightgrey;
}

.div-president1 {
  grid-area: president1;
}

.div-president2 {
  grid-area: president2;
}

.h2-about2 {
  grid-area: titulo2;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 5px 10px 10px 0px;
  background-color: lightgoldenrodyellow;
  box-shadow: 2px 2px 2px lightgrey;
}

.div-principal1 {
  grid-area: principal1;
}

.div-principal2 {
  grid-area: principal2;
}

#grilla-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 600px 50px 600px;
  grid-template-areas: "titulo1 titulo1" "president1 president2" "titulo2 titulo2" "principal1 principal2";
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 576px) {
  .imgabout {
    height: 380px;
    width: 250px;
  }
  #grilla-about {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 450px 450px 50px 450px 450px;
    grid-template-areas: "titulo1" "president1" "president2" "titulo2" "principal1" "principal2";
  }
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: cadetblue;
  box-shadow: 1px 1px 5px 0px grey;
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  color: lightgoldenrodyellow;
  font-size: 40px;
  margin-left: 10px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: cadetblue;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu a {
  display: block;
  padding: 30px;
  color: black;
}

.menu a:hover {
  background-color: lightgoldenrodyellow;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 15px 10px;
}

.hamb-line {
  background-color: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background-color: lightgoldenrodyellow;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background-color: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    max-height: none;
    top: 0px;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
  }
  .menu a {
    color: lightgoldenrodyellow;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  .menu a:hover {
    background-color: transparent;
    color: lightgoldenrodyellow;
  }
  .hamb {
    display: none;
  }
}
.titulos {
  font-family: "Poppins", sans-serif;
  padding: 10px 0px;
  color: cadetblue;
  display: flex;
  justify-content: center;
  font-size: 35px;
  text-shadow: 1.5px 1.5px 1.5px lightgrey;
}

.titulos2 {
  font-family: "Poppins", sans-serif;
  padding: 10px 0px;
  color: cadetblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.parrafos1 {
  font-family: "Poppins", sans-serif;
  padding: 0px 20px 20px 0px;
  font-size: 20px;
}

.applynow1 {
  font-family: "Poppins", sans-serif;
  background-color: plum;
  height: 30px;
  width: 80px;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-size: 15px;
  font-weight: 600px;
}

.div-careers {
  margin: 10px;
  padding: 10px;
  border: 5px solid cadetblue;
}

.titulo-careers {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 5px 10px 10px 0px;
  background-color: lightgoldenrodyellow;
}

.titulos4 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 5px 10px 10px 0px;
}

.imagenwp {
  height: 100px;
  width: 100px;
}

.imagenmail {
  height: 100px;
  width: 100px;
}

.imagenins {
  height: 100px;
  width: 100px;
}

.applynow {
  background-color: lightgoldenrodyellow;
  height: 50px;
  width: 200px;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-weight: 800px;
}

@media (max-width: 576px) {
  .parrafos1 {
    font-size: 15px;
  }
  .titulos {
    font-size: 30px;
  }
  .titulos2 {
    font-size: 25px;
    text-align: center;
  }
  .titulo-careers {
    font-size: 20px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

.imagenwp {
  height: 100px;
  width: 100px;
}

.imagenmail {
  height: 100px;
  width: 100px;
}

.imagenins {
  height: 100px;
  width: 100px;
}

.applynow {
  background-color: lightgoldenrodyellow;
  height: 60px;
  width: 250px;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 15px;
}

.dvi-iphone {
  grid-area: iphoone;
}

.div-phone {
  grid-area: phone;
}

.div-iemail {
  grid-area: iemail;
}

.div-email {
  grid-area: email;
}

.div-iinst {
  grid-area: iinst;
}

.div-inst {
  grid-area: inst;
}

#grilla_maincontact {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 150px 80px;
  column-gap: 20px;
  grid-template-areas: "iphone iemail iinst" "phone email inst";
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px 50px 0px;
}

.f-contact {
  opacity: 0.3;
  height: 30px;
  width: 500px;
  border: 2px solid grey;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
}

.div-firstname {
  grid-area: firstn;
}

.div-lastname {
  grid-area: lastn;
}

.div-emailc {
  grid-area: emailc;
}

.div-phonec {
  grid-area: phonec;
}

.div-submit {
  grid-area: submit;
  background-color: plum;
  height: 30px;
  width: 500px;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 20px;
}

.div-imagen {
  height: 500px;
  width: 500px;
  grid-area: imagenc;
}

.parrafosC {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#grilla_sectioncontact {
  border: solid 5px lightgrey;
  display: grid;
  grid-template-columns: 600px 500px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-areas: "firstn imagenc" "lastn imagenc" "emailc imagenc" "phonec imagenc" "submit imagenc";
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin: 0px 30px;
}

@media (max-width: 576px) {
  .imagenwp {
    height: 70px;
    width: 70px;
  }
  .imagenmail {
    height: 70px;
    width: 70px;
  }
  .imagenins {
    height: 70px;
    width: 70px;
  }
  .applynow {
    height: 40px;
    width: 150px;
    font-weight: 600px;
    font-size: 10px;
  }
  #grilla_maincontact {
    display: grid;
    grid-template-rows: 150px 80px 150px 80px 150px 80px;
    column-gap: 20px;
    grid-template-areas: "iphone" "phone" "iemail" "email" "iinst" "inst";
    justify-content: center;
    align-items: center;
    margin: 100px;
  }
  #grilla_sectioncontact {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "firstn" "lastn" "emailc" "phonec" "submit" "imagenc";
  }
  .div-imagen {
    height: 100px;
    width: 100px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

.imgprojects {
  width: 100%;
}

.b-residential {
  grid-area: bresi;
  background-color: lightgoldenrodyellow;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}

.b-landscape {
  grid-area: bland;
  background-color: lightgoldenrodyellow;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}

.b-commercial {
  grid-area: bcom;
  background-color: lightgoldenrodyellow;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}

.b-interior {
  grid-area: binterior;
  background-color: lightgoldenrodyellow;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}

.b-hospi {
  grid-area: bhosp;
  background-color: lightgoldenrodyellow;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}

.b-office {
  grid-area: boffice;
  background-color: lightgoldenrodyellow;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px lightgrey;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}

#index_mainprojects {
  background-image: url(/IMAGES/fondo\ projects.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  row-gap: 10px;
  grid-template-areas: "bresi" "bland" "bcom" "binterior" "bhosp" "boffice";
  text-align: left;
  margin: 0px 0px 10px 0px;
}

.div-projects {
  align-items: center;
  border: solid cadetblue 2px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px lightgrey;
}

.titulos3 {
  color: cadetblue;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px 1px lightgrey;
}

.titulos4 {
  color: cadetblue;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px lightgrey;
}

.parrafos-p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

@media (max-width: 576px) {
  .b-residential {
    font-size: 15px;
  }
  .b-landscape {
    font-size: 15px;
  }
  .b-commercial {
    font-size: 15px;
  }
  .b-interior {
    font-size: 15px;
  }
  .b-hospi {
    font-size: 15px;
  }
  .b-office {
    font-size: 15px;
  }
  .titulos3 {
    font-size: 20px;
  }
  .titulos4 {
    font-size: 15px;
  }
  .parrafos-p {
    font-size: 13px;
  }
}
.titulo-f {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: grey;
  padding: 5px 10px 10px 0px;
  text-shadow: 2px 2px 2px lightgrey;
}

.titulo-ap {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: grey;
  text-shadow: 1px 1px 1px lightgrey;
}

.div-archiplus {
  grid-area: archiplus;
}

.div-mapa {
  grid-area: mapa;
}

.div-medios {
  grid-area: medios;
}

#grilla_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "archiplus" "mapa" "medios";
}

/*# sourceMappingURL=style.css.map */
