   
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}


.maincareers{
    padding: 90px 0px 0px 0px;
}


.titulos {
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px;
    color: $color-p;
    display: flex;
    justify-content: center;
    font-size: $sz-t1;
    text-shadow: 1.5px 1.5px 1.5px $color-sh-2;
}
  
.titulos2 {
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px;
    color: $color-p;
    font-size: $sz-t1;
    display: flex;
    justify-content: center;
}
  
.parrafos1 {
    font-family: 'Poppins', sans-serif;
    padding: 0px 20px 20px 0px;
    font-size: $sz-p;
}
  
  
  
.applynow1{
    font-family: 'Poppins', sans-serif;
    background-color: $color-t;
    height: 30px;
    width: 80px;
    border: none;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
    font-size: $sz-t4;
    font-weight: 600px;
}

.applynow1:hover{
    transform: scale(1.1);
}
  
.div-careers{
    
    margin: 10px;
    padding: 10px;
    border: 5px solid $color-p;
}
  
.titulo-careers{
    font-family: 'Poppins', sans-serif;
    font-size: $sz-t3;
    padding: 5px 10px 10px 0px;
    background-color: $color-s;
}

.titulos4{
    font-family: 'Poppins', sans-serif;
    font-size: $sz-t4;
    padding: 5px 10px 10px 0px;
}
  

  
.applynow{
    background-color: $color-s;
    height: 50px;
    width: 200px;
    border: none;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
    font-family: 'Poppins', sans-serif; 
    font-weight: 800px;
    
}
 
@media (max-width: 576px){
    .parrafos1 {
      font-size: $sz-t4;
    }
    .titulos{
      font-size: $sz-t2;
    }
  
    .titulos2{
      font-size: $sz-t3;
      text-align: center;
      padding: 0px 5px 0px 5px;
    }
    .titulo-careers{
      font-size: $sz-p ;
    }

    .maincareers{
        padding: 40px 0px 0px 0px;
    }

  
}