* {
    margin: 0px;
    padding: 0px;
  }


.imagenwp{
    height: 100px;
    width: 100px;
}
  
.imagenmail{
    height: 100px;
    width: 100px;
}
  
.imagenins{
    height: 100px;
    width: 100px;
}
  
.applynow{
    background-color: $color-s;
    height: 60px;
    width: 250px;
    border: none;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600px;
    font-size:$sz-t4;
    
}

.dvi-iphone{
    grid-area: iphoone;
}
  
.div-phone{
    grid-area: phone;
}
  
.div-iemail{
    grid-area: iemail;
}
  
.div-email{
    grid-area: email;
}
  
.div-iinst{
    grid-area: iinst;
}
  
.div-inst{
    grid-area: inst;
}
  
#grilla_maincontact{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px 80px;
    column-gap: 20px;
    grid-template-areas: 
    "iphone iemail iinst"
    "phone email inst";
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px 50px 0px;
    
}

.f-contact{
    opacity: 0.3;
    height: 30px;
    width: 500px;
    border: 2px solid $color-sh-1;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
}

.div-firstname{
    grid-area: firstn;
}

.div-lastname{
    grid-area: lastn;
}

.div-emailc{
    grid-area: emailc;
}

.div-phonec{
    grid-area: phonec;
}

.div-submit{
    grid-area: submit;
    background-color: $color-t;
    height: 30px;
    width: 500px;
    border: none;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600px;
    font-size:$sz-p;
    
}

.div-imagen{
    height: 500px;
    width: 500px;
    grid-area: imagenc;
}

.parrafosC{
    font-family: 'Poppins', sans-serif; 
    font-size: $sz-p;
}

#grilla_sectioncontact{
    border: solid 5px $color-sh-2;
    display: grid;
    grid-template-columns: 600px 500px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-areas: 
    "firstn imagenc"
    "lastn imagenc"
    "emailc imagenc"
    "phonec imagenc"
    "submit imagenc";
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin: 0px 30px 30px;
    
}
  

@media (max-width: 576px) {
    .imagenwp{
        height: 70px;
        width: 70px;
    }
      
    .imagenmail{
        height: 70px;
        width: 70px;
    }
      
    .imagenins{
        height: 70px;
        width: 70px;
    }

    .applynow{
        height: 40px;
        width: 150px;
        font-weight: 600px;
        font-size: 10px;
        
    }

    #grilla_maincontact{
    display: grid;
    grid-template-rows: 150px 80px 150px 80px 150px 80px;
    column-gap: 20px;
    grid-template-areas:
    "iphone"
    "phone"
    "iemail"
    "email"
    "iinst"
    "inst";
    justify-content: center;
    align-items: center;
    margin: 100px;

    }

    #grilla_sectioncontact{
        display: grid;
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
        grid-template-areas: 
        "firstn"
        "lastn"
        "emailc"
        "phonec"
        "submit"
        "imagenc";
        
    }
     
    .div-imagen{
        height: 100px;
        width: 100px;
       
    }
    
}
