* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
  }


.imagenwp{
    height: 150px;
    width: 100%;
}
  
.imagenmail{
    height: 150px;
    width: 100%;
}
  
.imagenins{
    height: 150px;
    width: 100%;
}
  
.applynow{
    background-color: $color-s;
    height: 60px;
    width: 100%;
    border: none;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600px;
    font-size:$sz-t4;
    
}

.div-iphone{
    grid-area: iphone;
}

  
.div-phone{
    grid-area: phone;
}

.div-phone:hover{
    transform: scale(1.2);
}
  
.div-iemail{
    grid-area: iemail;
}
  
.div-email{
    grid-area: email;
}

.div-email:hover{
    transform: scale(1.2);
}
  
  
.div-iinst{
    grid-area: iinst;
}
  
.div-inst{
    grid-area: inst;
}

.div-inst:hover{
    transform: scale(1.2);
}
  
  
#grilla_maincontact{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 80px;
    column-gap: 300px;
    grid-template-areas: 
    "iphone iemail iinst"
    "phone email inst";
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 0px 50px 0px;
    
}

.f-contact{
    opacity: 0.3;
    height: 30px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
}

.firstname{
    grid-area: firstn;
    font-family: 'Poppins', sans-serif; 
    font-size: $sz-p;
    
}

.inputfn{
    grid-template-areas: inputfn;
    opacity: 0.3;
    height: 30px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
    color: black;
}

.lastname{
    grid-area: lastn;
    font-family: 'Poppins', sans-serif; 
    font-size: $sz-p;
}

.inputln{
    grid-template-areas: inputln;
    color: black;
    opacity: 0.3;
    height: 30px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;

}


.emailc{
    grid-area: emailc;
    font-family: 'Poppins', sans-serif; 
    font-size: $sz-p;
}

.inpute{
    grid-template-areas: inpute;
    opacity: 0.3;
    height: 30px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
}


.phonec{
    grid-area: phonec;
    font-family: 'Poppins', sans-serif; 
    font-size: $sz-p;
}

.inputp{
    grid-template-areas: inputp;
    opacity: 0.3;
    height: 30px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
}

.question{
    grid-template-areas: question;
    font-family: 'Poppins', sans-serif; 
    font-size: $sz-p;
        
}

.inputq{
    grid-template-areas: inputq;
    opacity: 0.3;
    height: 80px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
}

.div-submit{
    grid-area: submit;
    background-color: $color-t;
    height: 30px;
    width: 100%;
    border: none;
    box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600px;
    font-size:$sz-p;
    
}

.div-submit:hover{
    transform: scale(1.1);
}

.div-imagen{
    height: 500px;
    width: 100%;
    grid-area: imagenc;
}


#grilla_sectioncontact{
    border: solid 5px $color-sh-2;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 20px 30px 20px 30px 20px 30px 20px 30px 20px 80px 30px;
    grid-template-areas: 
    "firstn"
    "inputfn"
    "lastn"
    "inputln"
    "emailc"
    "inpute"
    "phonec"
    "inputp"
    "question"
    "inputq"
    "submit";
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0px 30px 30px;
    
}
  

@media (max-width: 576px) {
  

    #grilla_maincontact{
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 100px 120px 120px 120px 120px 120px;
    grid-template-areas:
    "iphone"
    "phone"
    "iemail"
    "email"
    "iinst"
    "inst";
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 50px 0px 0px 0px;

    }

    .firstname{
        font-size:$sz-t4;
        
    }
    
    .inputfn{
        width: 100%;
    }
    
    .lastname{
        font-size:$sz-t4;
    }
    
    .inputln{
        width: 100%;
    
    }
    
    
    .emailc{
        font-size:$sz-t4;
    }
    
    .inpute{
        width: 100%;
    }
    
    
    .phonec{
        font-size:$sz-t4;
    }
    
    .inputp{
        width: 100%;
    }
    
    .question{
        font-size:$sz-t4;
            
    }
    
    .inputq{
        width: 100%;
    }
    
    .div-submit{
        width: 100%;
        
    }

    #grilla_sectioncontact{
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: 20px 30px 20px 30px 20px 30px 20px 30px 20px 80px 30px;
        grid-template-areas: 
        "firstn"
        "inputfn"
        "lastn"
        "inputln"
        "emailc"
        "inpute"
        "phonec"
        "inputp"
        "question"
        "inputq"
        "submit";
        margin: 0px 5px 20px 5px;
        
          

    
    }
    
     
    .div-imagen{
        height: 200px;
        width: 100%;
       
    }
    
}
