*{
 margin: 0px;
 padding: 0px;
}

.imgprojects{
 width: 100%;
}

.b-residential{
 grid-area: bresi;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;

}

.b-landscape{
 grid-area: bland;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
    
}

.b-commercial{
 grid-area: bcom;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
    
}

.b-interior{
 grid-area: binterior;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
 
}

.b-hospi{
 grid-area: bhosp;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
    
}

.b-office{
 grid-area: boffice;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
     
}

.b-residential:hover{
  color: $color-p;
}

.b-landscape:hover{
  color: $color-p;
}

.b-commercial:hover{
  color: $color-p;
}

.b-interior:hover{
  color: $color-p;
}

.b-hospi:hover{
  color: $color-p;
}

.b-offices:hover{
  color: $color-p;
}


#index_mainprojects{
 background-image: url(../IMAGES/projects-fondo.png);
 background-repeat: no-repeat;
 background-size: cover;    
 display: grid;
 grid-template-columns: 300px 500px;
 grid-template-rows: 40px 40px 40px 40px 40px 40px;
 row-gap: 10px;
 grid-template-areas: 
 "bresi"
 "bland"
 "bcom"
 "binterior"
 "bhosp"
 "boffice";
 text-align: left;
 margin: 0px 0px 10px 0px;
 padding: 90px 0px 0px 0px;
}

.div-projects{
 align-items: center;
 border: solid $color-p 2px;
 padding: 10px;
 margin: 10px;
 box-shadow: 2px 2px 2px $color-sh-2;

}

.titulos3{
 color: $color-p;
 font-family: "Poppins", sans-serif;
 font-size: $sz-t3;
 text-shadow: 1px 1px 1px $color-sh-2;

}

.titulos4{
 color: $color-p;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p; 
 text-shadow: 1px 1px 1px $color-sh-2;
   
}

.parrafos-p{
 font-family: "Poppins", sans-serif;
 font-size: $sz-p; 

}

@media (max-width: 576px){

  #index_mainprojects{
    grid-template-columns: 200px 500px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
  }

  .b-residential{
    font-size: $sz-t4;
  }
  .b-landscape{
    font-size: $sz-t4;
  }
  .b-commercial{
    font-size: $sz-t4;
  }    
  .b-interior{
    font-size: $sz-t4;
  } 
  .b-hospi{
    font-size: $sz-t4;
  } 
  .b-office{
    font-size: $sz-t4;
  } 

  .titulos3{
    font-size: $sz-p;
   
   }
   
   .titulos4{
    font-size: $sz-t4; 
      
   }
   
   .parrafos-p{
    font-size: $sz-pm; 
   
   }


}