*{
 margin: 0px;
 padding: 0px;
 box-sizing:border-box;
}

.imgprojects{
 width: 100%;
}

.b-residential{
 height: 30px;
 width: 200px;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;

}

.b-landscape{
 height: 30px;
 width: 200px;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
    
}

.b-commercial{
 height: 30px;
 width: 200px;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
    
}

.b-interior{
 height: 30px;
 width: 200px;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
 
}

.b-hospi{
 height: 30px;
 width: 200px;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
    
}

.b-office{
 height: 30px;
 width: 200px;
 background-color: $color-s;
 border: none;
 box-shadow: 1.5px 1.5px 1.5px $color-sh-2;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p;
 font-weight: 600px;
 text-align: left;
 padding:  0px 0px 0px 20px;
     
}

.b-residential:hover{
  color: $color-p;
}

.b-landscape:hover{
  color: $color-p;
}

.b-commercial:hover{
  color: $color-p;
}

.b-interior:hover{
  color: $color-p;
}

.b-hospi:hover{
  color: $color-p;
}

.b-offices:hover{
  color: $color-p;
}


#index_mainprojects{
 background-image: url(../IMAGES/projects-fondo.png);
 background-repeat: no-repeat;
 background-size: cover;    
 display: flex;
 flex-direction: column;
 align-items: left;
 gap: 20px;
 justify-content: center;
 padding: 100px 0px 20px 0px;
}

.div-projects{
 align-items: center;
 border: solid $color-p 2px;
 padding: 10px;
 margin: 10px;
 box-shadow: 2px 2px 2px $color-sh-2;

}

.titulos3{
 color: $color-p;
 font-family: "Poppins", sans-serif;
 font-size: $sz-t3;
 text-shadow: 1px 1px 1px $color-sh-2;

}

.titulos4{
 color: $color-p;
 font-family: "Poppins", sans-serif;
 font-size: $sz-p; 
 text-shadow: 1px 1px 1px $color-sh-2;
   
}

.parrafos-p{
 font-family: "Poppins", sans-serif;
 font-size: $sz-p; 

}

@media (max-width: 576px){

  #index_mainprojects{
    padding: 50px 0px 20px 0px;
  } 

  .titulos3{
    font-size: $sz-p;
   
   }
   
   .titulos4{
    font-size: $sz-t4; 
      
   }
   
   .parrafos-p{
    font-size: $sz-t4; 
   
   }


}